* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: #fff;
  color: #000000;
  line-height: 1.5;
}

.title > h1 {
  text-align: center;
  padding: 20px 0;
  background-color: #000000;
  color: #fff;
}

.container {
  width: 90%;
  max-width: 1400px;
  margin: auto;
  background-color: #f2f2f2;
  border-left: 2px solid #000000;
  border-right: 2px solid #000000;
  height: calc(100vh - 88px);
  padding-top: 20px;
  display: flex;
  align-items: flex-start;
  justify-content: center;

  padding-left: 20px;
  padding-right: 20px;
}

.container-entry {
  background-color: #fff;
  color: #616161;
  padding: 20px;
  margin-bottom: 30px;
  max-width: 900px;
  border-radius: 20px;
  border: 4px solid #000000;
  box-shadow: 10px 10px 0px #000000;
}

.me {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.profile-pic {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
}

.profile-pic > img {
  height: 200px;
  border-radius: 50%;
}

.button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;
  border: 4px solid #000000;
  box-shadow: 4px 4px 0px #000000;
}

.btn-blue {
  background-color: #38dbff;
}

.btn-orange {
  background-color: #ffb443;
}

.btn-yellow {
  background-color: #fff503;
}

.btn-red {
  background-color: #ff5d5d;
}

.btn-green {
  background-color: #00ff75;
}

.btn-purple {
  background-color: #dd7dff;
}

.raise:hover,
.raise:focus {
  transform: translateY(-0.25em);
}

.raise:active {
  background-color: #b9332a;
}

@media (max-width: 700px) {
  .me {
    grid-template-columns: 1fr;
  }

  .me > .content {
    grid-row-start: 2;
  }

  .me > .profile-pic {
    grid-row-start: 1;
  }

  .profile-pic {
    margin-left: 0px;
    margin-bottom: 20px;
  }
}
